<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de press</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
    <script type="module"  src="app.js"></script>
    <link rel="stylesheet" href="global.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body id="app">
<press-menu :user="userName" @logout="logout" :fontColor="fontColor" @updateFontColor="fontColor=$event"></press-menu>
<press-header></press-header>
<press-about v-if="currentPage==='about'" :mainStyle="mainStyle"></press-about>
<press-search v-if="currentPage ==='search'" :page="currentPage" :articles="articles" :mainStyle="mainStyle"></press-search>
<press-login v-if="currentPage === 'login'" @login-success="setUser" :mainStyle="mainStyle"></press-login>
<press-article v-if="currentPage === 'home'" :page="currentPage" mode="home" :articles="articles" :mainStyle="mainStyle"></press-article>
<press-article v-if="currentPage === 'articles'" :page="currentPage" mode="articles" :articles="articles" :mainStyle="mainStyle"></press-article>
<press-favoris v-if="currentPage==='favorite'"  :articles="articles" :mainStyle="mainStyle"></press-favoris>
<press-footer></press-footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
