<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de press</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
    <script type="module"  src="app.js"></script>
    <link rel="stylesheet" href="global.css">
</head>
<body id="app">
<press-header title ="Mon Site Web"></press-header>
<press-menu></press-menu>
<press-about v-if="currentPage==='about'"></press-about>
<press-search v-if="currentPage ==='search'" :page="currentPage" :articles="articles"></press-search>
<press-article v-if="currentPage === 'home'" :page="currentPage" mode="home" :articles="articles"></press-article>
<press-article v-if="currentPage === 'articles'" :page="currentPage" mode="articles" :articles="articles"></press-article>
<press-favoris
v-if="currentPage==='favorite'"  :articles="articles"></press-favoris>
<press-footer></press-footer>

</body>
</html>
